HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/java/com/foodwebservice/food/QFood.java
src/main/java/com/foodwebservice/account/QAccount.java
src/main/java/com/foodwebservice/food_ingredient/QFoodIngredient.java
src/main/java/com/foodwebservice/Ingredient/QIngredient.java
src/main/java/com/foodwebservice/diet/QDiet.java

### Node modules ###
/src/main/resources/static/node_modules/
/src/main/java/com/foodwebservice/preference/QKindPreference.java
/src/main/java/com/foodwebservice/preference/QSituationPreference.java
/src/main/java/com/foodwebservice/preference/QWayPreference.java
