<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="container mt-5">
    <h3 class="font-weight-bold main-text-color">음식 유형 정하기</h3>

    <form th:action="@{'/food/type'}" th:method="post">
        <input type="submit" name="foodName" class="btn btn-secondary" th:value="${foodTypeForm.getFoodsName().get(foodTypeForm.getIndex())}"/>

        <input type="submit" name="foodName" class="btn btn-secondary" th:value="${foodTypeForm.getFoodsName().get(foodTypeForm.getIndex()+ 1)}"/>
    </form>
</div>
<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>