<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="container mt-5">
    <h3 class="font-weight-bold main-text-color">식단 유형 정하기</h3>
    <div class="jumbotron bg-white m-3">
        <form th:action="@{'/diet/type'}" th:method="post" th:object="${questionForm.getResponseDtos().get(questionForm.index)}">
            <div class="row mt-5 justify-content-center">
                <h3 class="text-justify" th:text="${questionForm.getResponseDtos().get(questionForm.index).question.getQuestion()}"></h3>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-sm-2">
                    <input class="form-check-input" type="radio" name="responseType" id="positive" th:value="${T(com.foodwebservice.diet.survey.ResponseType).POSITIVE}" required>
                    <label class="form-check-label" for="positive">
                        그렇다
                    </label>
                </div>
                <div class="col-sm-2">
                    <input class="form-check-input" type="radio" name="responseType" id="general" th:value="${T(com.foodwebservice.diet.survey.ResponseType).GENERAL}" required>
                    <label class="form-check-label" for="general">
                        중간이다
                    </label>
                </div>
                <div class="col-sm-2">
                    <input class="form-check-input" type="radio" name="responseType" id="negative" th:value="${T(com.foodwebservice.diet.survey.ResponseType).NEGATIVE}" required>
                    <label class="form-check-label" for="negative">
                        나쁘다
                    </label>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <button type="submit" class="btn btn-primary m-3">다음 질문으로 가기</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>