<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="main-head">
    <meta charset="UTF-8">
    <title>매주 맛있는 식탁 Maeju</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFon, "Noto Sans KR", "Segoe UI", Roboto;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
        }

        .main-text-color:hover, .main-text-color {
            color: chocolate; !important;
        }

    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-light bg-white">
    <a class="navbar-brand" th:href="@{'/'}">
        <h3 style="color: chocolate"><i class="fas fa-seedling fa"></i>Maeju</h3>
    </a>
    <div sec:authorize="!isAuthenticated()" class="d-flex flex-row-reverse">
        <h5><a class="nav-link p-2 font-weight-bold main-text-color" th:href="@{'/sign-up'}">회원가입</a></h5>
        <h5><a class="nav-link p-2 font-weight-bold main-text-color" th:href="@{'/login'}">로그인</a></h5>
    </div>

    <div sec:authorize="isAuthenticated()" class="d-flex flex-row-reverse">
        <div class="dropdown">
            <button class="btn main-text-color" onclick="location.href = '/'"}>
                <i class="far fa-bell fa-lg"></i>
            </button>
            <button class="btn btn-link dropdown-toggle main-text-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="dropdownMenuButton">
                <form class="form-inline my-2 my-lg-0" th:action="@{'/logout'}" th:method="post">
                    <button class="dropdown-item" type="submit">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<footer th:fragment="main-footer" class="bg-light">
    <div class="row justify-content-center">
        <h5 class="text-center">2020 Innovation Hackaton</h5>
    </div>
</footer>

</html>