<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="main-head">
    <meta charset="UTF-8">
    <title>매주 맛있는 식탁 Maeju</title>
    <link rel="stylesheet" th:href="@{'/node_modules/bootstrap/dist/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/node_modules/@fortawesome/fontawesome-free/css/all.css'}">
    <script th:src="@{'/node_modules/jquery/dist/jquery.min.js'}"></script>
    <script th:src="@{'/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'}"></script>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFon, "Noto Sans KR", "Segoe UI", Roboto;
        }

        .main-text-color:hover, .main-text-color {
            color: chocolate; !important;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
        }

    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-light bg-white">
    <a class="navbar-brand" th:href="@{'/'}">
        <h3 style="color: chocolate"><i class="fas fa-seedling fa"></i>Maeju</h3>
    </a>

    <form class="form-inline my-2 my-lg-0" th:action="@{'/search'}" th:method="get">
        <input class="form-control mr-sm-2" th:value="${foodName}" name="foodName" type="search" placeholder="음식 이름" aria-label="음식 이름">
        <button class="btn btn-outline-secondary main-text-color my-2 my-sm-0" type="submit">검색</button>
    </form>

    <div sec:authorize="!isAuthenticated()" class="d-flex flex-row-reverse">
        <h5><a class="nav-link p-2 font-weight-bold main-text-color" th:href="@{'/login'}">로그인</a></h5>
        <h5><a class="nav-link p-2 font-weight-bold main-text-color" th:href="@{'/sign-up'}">회원가입</a></h5>
    </div>

    <div sec:authorize="isAuthenticated()" class="d-flex flex-row-reverse">
        <div class="dropdown">
            <button class="btn main-text-color" onclick="location.href = '/'"}>
                <i class="far fa-bell fa-lg"></i>
            </button>
            <button class="btn main-text-color" onclick="location.href = '/diet'"}>
                <i class="far fa-id-badge fa-lg"></i>
            </button>
            <button class="btn btn-link dropdown-toggle main-text-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{'/settings/profile'}">회원정보</a>
                <div class="dropdown-divider"></div>
                <form class="form-inline my-2 my-lg-0" th:action="@{'/logout'}" th:method="post">
                    <button class="dropdown-item" type="submit">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<footer th:fragment="main-footer" class="bg-light page-footer">
    <div class="row justify-content-center">
        <h5>2020 전남대학교 Innovation Hackaton</h5>
    </div>
</footer>

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" th:href="@{'/settings/profile'}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'likefood'}? active" th:href="@{'/settings/likefood'}">선호 음식</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" th:href="@{'/settings/password'}">비밀번호</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}" th:href="@{'/settings/account'}">계정 관리</a>
</div>

<div th:fragment="message" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <span th:text="${message}">메시지</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</html>