<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<div th:replace="fragments.html :: main-nav"></div>
<body class="bg-light">
<div>
    <div th:replace="fragments.html :: message"></div>
    <br/>

    <div class="jumbotron">
        <h1 class="text-center font-weight-bold main-text-color">매주 자신에게 맞는 새로운 식단을 찾으세요!</h1>
        <br/>
        <p class="text-center lead">저희 사이트는 이용자의 식단유형을 추정해 매주 새로운 식단을 추천해드립니다.</p>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="row row-cols-1 m-3" th:if="${!#lists.isEmpty(kindOfFoods)}">
                <h4 class="main-text-color">종류별 추천음식</h4>
                <hr/>
                <div class="col-md-6 p-1" th:each="food : ${kindOfFoods}">
                    <div class="card h-100 shadow-sm mh-150">
                        <div class="row-7">
                            <img th:src="${'/images/recipe/' + food.getImagePath() +  '.jpg'}" class="card-img-top img-thumbnail" style="width: 600px; height: 400px">
                        </div>
                        <div class="row-3">
                            <div class="card-body">
                                <a th:href="@{'/food/' + ${food.id}}"><h5 class="card-title" th:text="${food.name}">음식 이름</h5></a>
                                <p class="card-text">
                                    <i class="fas fa-user text-primary"><span th:text="${food.getAmount()}"></span></i>
                                    <i class="fas fa-star text-secondary pl-2"><span th:text="${food.getDifficulty().getStringAsValue()}"></span></i>
                                    <i class="fas fa-clock text-success pl-2"><span th:text="${food.getTime()}"></span></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row row-cols-1 m-3">
                <h4 class="main-text-color">상황별 추천음식</h4>
                <hr/>
                <div class="col-md-6 p-1" th:each="food : ${situationOfFoods}">
                    <div class="card h-100 shadow-sm mh-150">
                        <img th:src="${'/images/recipe/' + food.getImagePath() +  '.jpg'}" class="card-img-top img-thumbnail" style="width: 600px; height: 400px">
                        <div class="card-body">
                            <a th:href="@{'/food/' + ${food.id}}"><h5 class="card-title" th:text="${food.name}">음식 이름</h5></a>
                            <p class="card-text">
                                <i class="fas fa-user text-primary"><span th:text="${food.getAmount()}"></span></i>
                                <i class="fas fa-star text-secondary pl-2"><span th:text="${food.getDifficulty().getStringAsValue()}"></span></i>
                                <i class="fas fa-clock text-success pl-2"><span th:text="${food.getTime()}"></span></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row row-cols-1 m-3">
                <h4 class="main-text-color">방법별 추천음식</h4>
                <hr/>
                <div class="col-md-6 p-1" th:each="food : ${wayOfFoods}">
                    <div class="card h-100 shadow-sm mh-150">
                        <img th:src="${'/images/recipe/' + food.getImagePath() +  '.jpg'}" class="card-img-top img-thumbnail" style="width: 600px; height: 400px">
                        <div class="card-body">
                            <a th:href="@{'/food/' + ${food.id}}"><h5 class="card-title" th:text="${food.name}">음식 이름</h5></a>
                            <p class="card-text">
                                <i class="fas fa-user text-primary"><span th:text="${food.getAmount()}"></span></i>
                                <i class="fas fa-star text-secondary pl-2"><span th:text="${food.getDifficulty().getStringAsValue()}"></span></i>
                                <i class="fas fa-clock text-success pl-2"><span th:text="${food.getTime()}"></span></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>