<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container mt-5">
    <h2 class="font-weight-bold main-text-color" th:text="${foodName}"></h2>
    <div class="row">
        <div class="col-md-5 m-3 card shadow-sm mh-150" th:each="food : ${foodPage.getContent()}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <a th:href="@{'/food/' + ${food.id}}"><h5 class="card-title" th:text="${food.name}">음식 이름1</h5></a>
                        <i class="fas fa-user text-primary"><span th:text="${food.getAmount()}"></span></i>
                        <i class="fas fa-star text-secondary pl-2"><span th:text="${food.getDifficulty().getStringAsValue()}"></span></i>
                        <i class="fas fa-clock text-success pl-2"><span th:text="${food.getTime()}"></span></i>
                    </div>
                    <div class="col-sm-3">
                        <img th:src="${'/images/food-image-example.png'}" class="card-img-right" style="height: 100%; width: 100%; object-fit: contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!foodPage.hasPrevious()}? disabled">
                        <a th:href="@{'/search?foodName=' +${foodName} + '&page=' + ${foodPage.getNumber() - 1}}"
                           class="page-link" tabindex="-1" aria-disabled="true">
                            Previous
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${i == foodPage.getNumber()}? active"
                        th:each="i: ${#numbers.sequence(0, foodPage.getTotalPages() -1)}">
                        <a class="page-link" th:href="@{'/search/?foodName=' +${foodName} + '&page=' + ${i}}" th:text="${i + 1}">1</a>
                    </li>

                    <li class="page-item" th:classappend="${!foodPage.hasNext()}? disabled">
                        <a th:href="@{'/search?foodName=' +${foodName} + '&page=' + ${foodPage.getNumber() + 1}}"
                           class="page-link">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>