<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container mt-5">
    <h2 class="font-weight-bold main-text-color" th:text="${foodName}"></h2>
    <div class="row">
        <div class="col-md-5 m-3 card shadow-sm mh-150" th:each="food : ${foods}">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="card-title" th:text="${food.name}">음식 이름1</h5>
                        <span class="card-text" th:text="${food.getAmount()}"></span>
                        <span class="card-text" th:text="${food.getDifficulty()}"></span>
                        <span class="card-text" th:text="${food.getTime()}"></span>
                    </div>
                    <img th:src="${'/images/food-image-example.png'}" class="card-img-right" width="100" height="100">
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>