<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container mt-5">
    <h2 class="font-weight-bold main-text-color" th:text="${foodName}"></h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">음식 이름1</h5>
                            <p class="card-text">음식 재료 or 레시피 관련 설명들</p>
                        </div>
                        <div class="col-sm-4">
                            <img th:src="${'/images/food-image-example.png'}" width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">음식 이름2</h5>
                            <p class="card-text">음식 재료 or 레시피 관련 설명들</p>
                        </div>
                        <div class="col-sm-4">
                            <img th:src="${'/images/food-image-example.png'}" width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">음식 이름3</h5>
                            <p class="card-text">음식 재료 or 레시피 관련 설명들</p>
                        </div>
                        <div class="col-sm-4">
                            <img th:src="${'/images/food-image-example.png'}" width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">음식 이름4</h5>
                            <p class="card-text">음식 재료 or 레시피 관련 설명들</p>
                        </div>
                        <div class="col-sm-4">
                            <img th:src="${'/images/food-image-example.png'}" width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">음식 이름5</h5>
                            <p class="card-text">음식 재료 or 레시피 관련 설명들</p>
                        </div>
                        <div class="col-sm-4">
                            <img th:src="${'/images/food-image-example.png'}" width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="card-title">음식 이름6</h5>
                            <p class="card-text">음식 재료 or 레시피 관련 설명들</p>
                        </div>
                        <div class="col-sm-4">
                            <img th:src="${'/images/food-image-example.png'}" width="150" height="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>