<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container pt-3">
    <div class="row">
        <div class="col-3">
            <ul th:replace="fragments.html :: settings-menu(currentMenu = 'password')"></ul>
        </div>
        <div class="col-9">
            <h2 class="font-weight-bold">비밀번호 변경하기</h2>
            <br/>
            <div th:replace="fragments.html :: message"></div>
            <form th:action="@{'/settings/password'}" th:object="${passwordForm}" th:method="post">
                <div class="form-group">
                    <label for="password">현재 비밀번호</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" aria-describedby="passwordHelp">
                    <small id="passwordHelp" class="form-text text-muted">현재 비밀번호를 입력하세요.</small>
                </div>
                <div class="form-group">
                    <label for="newPassword">비밀번호</label>
                    <input type="password" class="form-control" th:field="*{newPassword}" id="newPassword" aria-describedby="newPasswordHelp">
                    <small id="newPasswordHelp" class="form-text text-muted">바꾸실 비밀번호를 입력하세요.</small>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">비밀번호 확인</label>
                    <input type="password" class="form-control" th:field="*{confirmPassword}" id="passwordConfirm">
                </div>
                <button type="submit" class="btn btn-primary">비밀번호 변경하기</button>
                <br/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">
                    Password Error
                </div>

                <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="alert alert-danger" role="alert">
                    Password Error
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>