<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container mt-3">
    <br/>
    <h4 class="main-text-color font-weight-bold">선택하신 반찬을 하기 위해서는 다음과 같은 재료가 필요합니다.</h4>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">재료 이름</th>
                <th scope="col">재료 타입</th>
                <th scope="col">수량</th>
                <th scope="col">구매 사이트</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient, itemStat : ${ingredients}">
                <th scope="row" th:text="${itemStat.index + 1}"></th>
                <td th:text="${ingredient.getIngredientName()}"></td>
                <td th:text="${ingredient.getIngredientType().getStringAsInstance()}"></td>
                <td th:text="${ingredient.getAmount()}"></td>
                <td><a href="https://www.kurly.com/">마켓컬리 이동하기</a></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <h4 class="main-text-color font-weight-bold">모든 반찬을 보유하시거나 구매하셨다면 다음으로 버튼을 눌러주세요!
        <a class="btn btn-primary btn-lg m-3" th:href="@{'/shop/select/next'}" role="button">다음으로</a>
    </h4>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>