<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container mt-3">
    <br/>
    <h4 class="main-text-color font-weight-bold">선택하신 반찬을 하기 위해서는 다음과 같은 재료가 필요합니다.</h4>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">선택</th>
                <th scope="col">재료 이름</th>
                <th scope="col">재료 타입</th>
                <th scope="col">추천 수량</th>
                <th scope="col">수량</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient, itemStat : ${ingredients}">
                <th scope="row"><input type="checkbox" checked></th>
                <td th:text="${ingredient.getIngredientName()}"></td>
                <td th:text="${ingredient.getIngredientType().getStringAsInstance()}"></td>
                <td th:text="${ingredient.getAmount()}"></td>
                <td><input type="text" class="form-control" th:value="${ingredient.getAmount()}" id="name" aria-describedby="nameHelp" placeholder="수량" required></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="추가하고 싶은 다른 재료">
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary">추가</button>
        </div>
    </div>
    <br/>
    <h4 class="main-text-color font-weight-bold">모든 반찬을 보유하시거나 선택하셨다면 다음으로 버튼을 눌러주세요!
        <a class="btn btn-primary btn-lg m-3" th:href="@{'/shop/select/next'}" role="button">다음으로</a>
    </h4>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>