<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments.html :: main-head"></div>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <br/>
    <h4 class="font-weight-bold main-text-color">조리법을 이용해서 반찬을 요리해주세요</h4>
    <div class="row justify-content-center">
        <div class="col-md-3 p-1" th:each="food : ${foods}">
            <div class="card h-100 shadow-sm mh-150">
                <div class="row-7">
                    <img th:src="${'/images/recipe/' + food.getImagePath() +  '.jpg'}" class="card-img-top img-thumbnail" style="width: 400px; height: 200px">
                </div>
                <div class="row-3">
                    <div class="card-body">
                        <a th:href="@{'/food/' + ${food.id}}"><h6 class="card-title" th:text="${food.name}">음식 이름</h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h4 class="font-weight-bold main-text-color">맛있게 드셨다면 음식들을 선호음식에 등록해주세요.</h4>
    <span class="text-muted">선호음식에 등록된 반찬을 기준으로 반찬이 추천됩니다.</span>

    <br/>
    <a class="btn btn-primary btn-lg m-3" th:href="@{'/'}" role="button">첫 페이지로 돌아가기</a>
</div>

<div th:replace="fragments.html :: main-footer"></div>
</body>
</html>